.app-view {
	display: flex;
	flex-direction: column;

	&-header {
		margin-top: 0px;
		margin-bottom: 0px;
		flex: 0 0 100px;
	}

	&-body {
		display: flex;
		flex-direction: row;

		&-left {
			display: flex;
			flex-direction: column;
			flex: 1 1 auto;
			overflow-y: auto;
		}

		&-main {
			display: flex;
			flex-direction: column;
			flex: 3 1 auto;
			overflow-y: auto;
		}
	}
}
