.app-view {
	display: flex;
	flex-direction: column;
	height: 100%;

	&-header {
		margin-top: 0px;
		margin-bottom: 0px;
		flex: 0 0 100px;
	}

	&-body {
		display: flex;
		flex-direction: row;
		flex: 1 0;

		&-left {
			display: flex;
			flex-direction: column;
			flex: 1;
			overflow-y: auto;
		}

		&-main {
			display: flex;
			flex-direction: column;
			flex: 2;
			overflow-y: auto;
		}
	}
}
