.siren-links-view {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: stretch;

	&-item {
		border: 1px #000;
		display: flex;
		flex: 1 1 20rem;

		&-rels {
			font-weight: 600;
			width: 10rem;
		}

		&-link {
			text-align: left;
		}
	}
}
