.siren-actions-view {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;

	.action-view {
		display: flex;
		flex: 0 0 30em;

		.panel {
			margin-left: .5em;
			margin-right: .5em;
			width: 100%;
		}
	}
}
