$fa-font-path: '/fonts';

$body-bg: #fff;
$text-color: #3B3A35;
$accent-text: #FB6648;
$accent-background: #5E3448;
$other-text: #20457C;

$panel-bg: $body-bg;
$panel-body-padding: .5rem;


@import 'bootstrap';
@import 'font-awesome';

html {
	font-size: 12px;
}

body, .viewport {
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.table {
	margin-bottom: 0px;
}

.panel {
	margin-bottom: 5px;
}

@mixin background-gradient($direction, $fromColor, $toColor) {
	/*note safar direction is actually backwards will need to fix*/
	background: -webkit-linear-gradient($direction, $fromColor, $toColor); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient($direction, $fromColor, $toColor); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient($direction, $fromColor, $toColor); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to $direction, $fromColor , $toColor); /* Standard syntax */
}

@import './AppView';
@import './RequestView';
@import './RequestHistoryView';
@import './SirenActionsView';
@import './SirenEntitiesView';
@import './SirenLinksView';
@import './SirenResultView';
@import './SirenPropertiesView';
@import './UrlView';
